In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
plt.style.use('ggplot')
plt.rc('patch', force_edgecolor=True,edgecolor='black')
plt.rc('hist', bins='auto')

In [3]:
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

import tensorflow as tf
from keras import optimizers
from keras.utils import plot_model
from keras.models import Sequential, Model
from keras.layers.convolutional import Conv1D, MaxPooling1D
from keras.layers import Dense, LSTM, RepeatVector, TimeDistributed, Flatten, Dropout

Using TensorFlow backend.

In [4]:
train = pd.read_csv('wrangled_data/training_post_wrangle.csv')

In [5]:
test = pd.read_csv('wrangled_data/testing_post_wrangle.csv')

test = test.loc[:,['ID', 'shop_id', 'item_id']]

In [6]:
train.shape

(14420216, 12)

In [7]:
test.shape

(214200, 3)

In [8]:
train.head(2)

,year,month,shop_id,item_id,item_cnt_month,date_block_num,mean_item,mode_item,item_name,item_category_id,item_category_name,shop_name
0,2013,2,0,30,31.0,1.0,0.911765,0.0,30,40,40,0
1,2013,2,0,31,11.0,1.0,0.323529,0.0,31,37,37,0

In [32]:
df = pd.merge(test, train, on = ['item_id','shop_id'],how = 'left')
df = df[df['item_cnt_month'].isna()].loc[:,['ID', 'shop_id', 'item_id']]
df.reset_index(drop=True, inplace=True)

In [33]:
# df.set_index('ID', inplace=True)
df.head()

   ID  shop_id  item_id
0   1        5     5320
1   4        5     5268
2   9        5     5003
3  16        5     4874
4  21        5     5002

In [ ]:
items = pd.read_csv('./csv_folder/items.csv')
item_categs = pd.read_csv('./csv_folder/item_categories.csv')
shops = pd.read_csv('./csv_folder/shops.csv')

# Add all item features
df = pd.merge(df, items, how='left', on='item_id')
# Adding item category features
df = pd.merge(df, item_categs, how='left', on='item_category_id')
# Adding shop feature
df = pd.merge(df, shops, how='left', on='shop_id')

In [ ]:
# Label encoding
for c in ['shop_name', 'item_name', 'item_category_name']:
    lbl = preprocessing.LabelEncoder()
    lbl.fit(list(df[c].unique())+list(test[c].unique()))
    df[c]=lbl.transform(train_df[c].astype(str))
    test[c]=lbl.transform(test[c].astype(str))
    print(c)

In [27]:
train.groupby(['shop_id', 'item_category_id'])['item_cnt_month'].agg([np.mean]).reset_index()

      shop_id  item_category_id       mean
0           0                 0   0.029412
1           0                 1   0.029412
2           0                 2   0.128676
3           0                 3   1.529412
4           0                 4   0.186275
...       ...               ...        ...
3266       59                75   0.386622
3267       59                77   0.029412
3268       59                79  10.147059
3269       59                80   0.294118
3270       59                83   3.926471

[3271 rows x 3 columns]

In [ ]:
# train['date'] = pd.to_datetime(train[['year', 'month']].assign(DAY=1))

In [ ]:
features = ['date_block_num', 'mean_item', 'mode_item', 'item_name', 'item_category_id', 'item_category_name', 'shop_name']

target = ['item_cnt_month']

values = ['item_cnt_month', 'mean_item', 'mode_item', 'item_name', 'item_category_id', 'item_category_name', 'shop_name']

In [ ]:
dataset = train.pivot_table(index = ['shop_id','item_id'], values = values, columns =['date_block_num'], aggfunc='sum')

In [ ]:
train.shape

In [ ]:
dataset.reset_index(inplace=True)

In [ ]:
# dataset = pd.merge(test, dataset, how='inner', on=['shop_id', 'item_id'])

dataset = pd.merge(test, dataset,on = ['item_id','shop_id'],how = 'left')

In [ ]:
# train[(train['shop_id']==5) & (train['item_id']==9500)]
train[(train['item_id']==5320)]

In [ ]:
dataset[dataset[('item_category_id', 0.0)].isna()]

In [ ]:
dataset[dataset.isna()]

In [ ]:
dataset.drop(['shop_id','item_id','ID'],inplace = True, axis = 1)
dataset.head()

In [ ]:
np.expand_dims(dataset.values[:,:-1],axis = 2).shape

In [ ]:
test.shape