In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

import tensorflow as tf
from keras import optimizers
from keras.utils import plot_model
from keras.models import Sequential, Model
from keras.layers.convolutional import Conv1D, MaxPooling1D
from keras.layers import Dense, LSTM, RepeatVector, TimeDistributed, Flatten, Dropout

from sklearn.preprocessing import StandardScaler
from keras import metrics

Using TensorFlow backend.

In [2]:
plt.style.use('ggplot')
plt.rc('patch', force_edgecolor=True,edgecolor='black')
plt.rc('hist', bins='auto')

In [3]:
test = pd.read_csv('../csv_folder/test.csv')

In [4]:
train = pd.read_csv('../csv_folder/sales_train.csv')
train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [5]:
train.drop(['item_price', 'date'], axis=1, inplace=True)

In [6]:
items = test['item_id'].unique().tolist()
shops = test['item_id'].unique().tolist()
print(len(items), len(shops))

5100 5100

In [7]:
shopitems = [(s,i) for s in shops for i in items]

In [8]:
len(shopitems)

26010000

In [ ]:
shopitems = [(si[0], si[1], d) for si in shopitems for d in range(33)]

In [ ]:
len(shopitems)

In [ ]:
index = pd.DataFrame([[si[0], si[1], d] for si in shopitems for d in range(33)], columns=['shop_id', 'item_id', 'date_block_num'])

In [ ]:
index.head()

In [ ]:
index[index['shop_id'] == 59 and index['item_id'] == 5037]

In [ ]:
train = index.merge(train, on=['shop_id', 'item_id', 'date_block_num'], how='left')

In [ ]:
train.fillna(0, inplace=True)

In [ ]:
train.to_csv('../wrangled_data/all_items_per_shop_within_testset.csv')